/* Global */
:root {
  /*App Colors*/
  --color-primary: var(--color-black); /* 주요색상 */
  --color-primary-variant: var(--color-gray); /* 변형된 버전 */
  --color-accent: var(--color-blue); /* 강조색상 */
  --color-accent-variant: var(--color-orange); /* 변형된 버전 */
  --color-text: var(--color-white); /* 글자색상 */

  /* Colors (문제점 ? - 강조하는 색상으로 블루색상을 썼는데 나중에 맘에 안들어서 바꾸고 싶을때 웹사이트에서 전부 블루색상을 썼기 때문에 css변수를 사용하는 의미가 없어짐*/
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;

  /* Size */
  --size-max-width: 1200px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif; /* Open Sans가 안되면 sans-serif로 대체 하겠다는 뜻임 */
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none; /* 목록을 표시하는 ● 표시를 없애기 위함.*/
  padding: 0;
}

a {
  text-decoration: none; /* a태그의 밑줄을 없애기 위함.*/
  color: var(
    --color-text
  ); /* 상단에서 컬러에대한 var(변수)를 설정해줬기 때문에 BEM기술로 사용*/
}

button {
  background-color: transparent; /* 버튼의 백그라운드 색상을 transparent(투명하게) */
  outline: 0;
  border: 0;
}

button:focus {
  outline: 1px solid var(--color-accent);
}
/* Common(섹션 공통 스타일링) */
.section {
  padding: 4rem;
  text-align: center;
}
.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.description {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}

/*Header*/
.header {
  background-color: #050a13;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__logo__img {
  width: 36px;
  height: 36px;
}

.header__logo__title {
  font-size: 1.8rem;
}

.header__menu {
  display: flex;
  gap: 4px;
}

.header__menu__item {
  padding: 8px 16px; /* 위, 아래는 8px 양 옆은 16px*/
}

.header__menu__item:hover {
  border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
  /* 두 개의 클래스를 가진 태그를 선택할 때*/
  border: 1px solid var(--color-accent);
  border-radius: 4px;
}

/* Home */
#home {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 5rem 1rem;
  padding-top: 7rem;
  text-align: center;
}
.home__avatar {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 3px solid var(--color-accent);
  border-radius: 100%;
}

.home__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home__title--strong {
  color: var(--color-accent);
}

.home__description {
  font-size: 1.3rem;
}

.home__contact {
  display: inline-block;
  background-color: var(--color-accent);
  color: var(--color-black);
  margin: 2rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 4px;
}

.home__contact:hover {
  background-color: transparent;
  color: var(--color-text);
  outline: 2px solid var(--color-accent);
}

/* About */
.majors {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 2.5rem 0;
}

.major {
  background-color: var(--color-primary-variant);
  padding: 2rem 1rem;
  color: var(--color-text);
  border-radius: 1rem;
  cursor: default;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38); /* 박스 쉐도우 사이트에서 가져옴 */
}

.major__icon {
  font-size: 4rem;
  margin: 1rem 0;
  color: var(--color-accent);
  transition: all 300ms ease;
}

.major__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.major:hover .major__icon {
  transform: rotate(-15deg) scale(1.2);
}

.jobs {
  text-align: start;
}

.job {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 1rem;
}
.job__name {
  color: var(--color-primary);
}

.job__period {
  color: var(--color-primary);
  font-size: 0.8rem;
}
.job__img {
  width: 60px;
  height: 55px;
}

/* skills */
#skills {
  background-color: var(--color-primary-variant);
  color: var(--color-text);
}
.skills {
  display: grid;
  grid-template-columns: 6fr 4fr;
  margin: 2rem 3rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.skills__title {
  color: var(--color-accent);
  margin: 1rem 0;
  font-size: 1.2rem;
}

.skills__coding {
  grid-row: span 2;
  padding: 1rem;
  background-color: var(--color-primary);
}
.skills__tools {
  padding: 1rem;
}
.skills__etc {
  padding: 1rem;
  background-color: var(--color-primary);
  filter: brightness(
    150%
  ); /* 동일 색상이지만 조금 다르게 표현하고 싶을 때 사용*/
}
