/* Global */
:root {
  /*App Colors*/
  --color-primary: var(--color-black); /* 주요색상 */
  --color-accent: var(--color-blue); /* 강조색상 */
  --color-text: var(--color-white); /* 글자색상 */

  /* Colors (문제점 ? - 강조하는 색상으로 블루색상을 썼는데 나중에 맘에 안들어서 바꾸고 싶을때 웹사이트에서 전부 블루색상을 썼기 때문에 css변수를 사용하는 의미가 없어짐*/
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif; /* Open Sans가 안되면 sans-serif로 대체 하겠다는 뜻임 */
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none; /* 목록을 표시하는 ● 표시를 없애기 위함.*/
  padding: 0;
}

a {
  text-decoration: none; /* a태그의 밑줄을 없애기 위함.*/
  color: var(
    --color-text
  ); /* 상단에서 컬러에대한 var(변수)를 설정해줬기 때문에 BEM기술로 사용*/
}

button {
  background-color: transparent; /* 버튼의 백그라운드 색상을 transparent(투명하게) */
  outline: 0;
  border: 0;
}

button:focus {
  outline: 1px solid var(--color-accent);
}
